body {
font-family: 'Arial', sans-serif;
margin: 0;
padding: 0;
background: linear-gradient(102deg, rgba(2,0,36,1) 0%, rgba(99,103,125,1) 34%, rgba(79,103,206,1));
}
.banner {
display: block;
padding: 10px;
margin-left: auto;
margin-right: auto;
width: 20%;
}
.profile {
display: block;
padding: 10px;
margin-left: 200px;
margin-top: 20px;
width: 25%;
border-radius: 20%;   
}
.history{
color: white;
text-align: justify;
font-size: 15px;
max-width: 28%;
margin-left: 150px;
background-color: #89a8b8;
padding: 30px;
border-radius: 8px;
box-shadow: 0 0 20px rgba(255,255,255,0.1);
}
.lyrics-section {
text-align: center;
margin: 2em 10;
}

.lyrics-container {
position: absolute;
top: 23%;
right: 20px;
max-width: 800px;
margin-right: auto;
background-color: #c0d2db;
padding: 30px;
border-radius: 8px;
box-shadow: 0 0 20px rgba(78,130,208,0.1);
}
ul {
list-style-type: none;
padding: 0;
}
li {
margin-bottom: 10px;
display: inline-block;
text-align: left;
width: 100%;
}